<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fuente 'Lato' -->
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Lato?selection.family=Lato:wght@400;900">
        <!-- Icono de la organizacion -->
        <link rel="icon" href="../static/images/cropped-Logo-Curvas-01-tag.png" sizes="32x32"/>
        <!-- Remix icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
        {% load static %}
        <!-- Custon Styles -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title> {% block title %}{% endblock title %}</title>
    </head>
    <body>
      <!-- Header -->
      <header class="header" id="header">

          <nav class="navbar container">

              <a href="{% url 'index' %}">
                  <img src="../static/images/Logo-Curvas-hor-02-303x119.png" alt="">
                  <h2 class="logo">Blog de noticias</h2>
              </a>
              <div class="menu" id="menu">
                  <ul class="list">
                    <li class="list-item">
                          <a href="{% url 'index' %}" class="list-link current">Home</a>
                    </li>
                    <li class="list-item">
                          <a href="{% url 'about' %}" class="list-link">Institucional</a>
                    </li>
                    <li class="list-item">
                          <a href="{% url 'noticias' %}" class="list-link">Noticias</a>
                    </li>
                    <li class="list-item">
                          <a href="#" class="list-link">Categorías</a>
                    </li>
                    <li class="list-item">
                        <a href="{% url 'contacto' %}" class="list-link">Contacto</a>
                    </li>
                    {% comment %} <li class="list-item">
                        <a href="{% url 'users:login' %}" class="list-link screen-lg-hidden">Acceder</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a href="{% url 'users:register' %}" class="list-link">Registrarse</a>
                    </li> {% endcomment %}
                    {% if user.is_authenticated %}
                    <li class="list-item">
                        <a class="list-link screen-lg-hidden" data-toggle="dropdown" href="#" role="button" >{{request.user.username}}</a>
                        <div class="dropdown-menu">
                        {% if  user.is_staff %}
                        <a class="list-item screen-lg-hidden" href="{% url 'admin:index' %}">Administración</a>
                        {% endif %}
                        <a class="list-link screen-lg-hidden" href="{% url 'users:logout' %}">Salir</a>
                        </div>
                    </li>
                    
                    
                    {% else %}
                    <li class="list-item">
                        <a class="list-link screen-lg-hidden" href="{% url 'users:login' %}">Acceder</a>
                    </li>
                    <li class="list-item screen-lg-hidden">
                        <a class="list-link" href="{% url 'users:register' %}" >Registrarse</a>
                    </li>
                  {% endif %}
                      

                  </ul>
              </div>

              <div class="list list-right">
                  <button class="btn place-items-center" id="theme-toggle-btn">
                      <i class="ri-sun-line sun-icon"></i>
                      <i class="ri-moon-line moon-icon"></i>
                  </button>

                  <button class="btn place-items-center" id="search-icon-btn">
                      <i class="ri-search-line"></i>
                  </button>

                  <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                      <i class="ri-menu-3-line open-menu-icon"></i>
                      <i class="ri-close-line close-menu-icon"></i>
                  </button>

                
                  {% if user.is_authenticated %}
                    <li class="list-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button">{{request.user.username}}</a>
                        <div class="dropdown-menu">
                        {% if  user.is_staff %}
                        <a class="list-link" href="{% url 'admin:index' %}">Administración</a>
                        {% endif %}
                        <a class="list-link" href="{% url 'users:logout' %}">Salir</a>
                        </div>
                    </li>
                    
                    
                    {% else %}
                    <a href="{% url 'users:login' %}" class="list-link screen-sm-hidden">Acceder</a>
                  <a href="{% url 'users:register' %}" class="list-link screen-sm-hidden btn sign-up-btn fancy-border">
                      <span>Registrarse</span>
                  </a>
                  {% endif %}
              </div>
          </nav>
      </header>

      <!-- Buscar -->
      <div class="search-form-container container" id="search-form-container">

          <div class="form-container-inner">

              <form action="" class="form">
                <script async src="https://cse.google.com/cse?cx=8118cc08d49854744">
                </script>
                  <input type="text" class="form-input" placeholder="Buscar">
                  <button class="btn form-btn" type="submit">
                      <i class="ri-search-line"></i>
                  </button>
              </form>
              <span class="form-note">Presiona ESC para cerrar.</span>
          </div>

          <button class="btn form-close-btn place-items-center" id="form-close-btn">
              <i class="ri-close-line"></i>
          </button>
      </div>
      
        {% block content %}
        
        {% endblock content %}
      <!-- Footer -->
        <footer class="footer section">

            <div class="footer-container container d-grid">

                <div class="company-data">
                    <a href="{% url 'about' %}">
                        <h2 class="logo-footer">Instituto Barranqueras</h2>
                    </a>
                    <p class="company-description">
                        Somos el primer instituto de nivel terciario de la localidad de Barranqueras.<br>
                        Apostamos a la transformación comunitaria de nuestra localidad.</p>
                    
                    <ul class="list social-media">
                        <h4>SEGUINOS EN NUESTRAS REDES</h4>
                        <li class="list-item">
                            <a href="https://www.instagram.com/institutobarranqueras/" class="list-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                            <a href="https://www.facebook.com/institutobarranqueras" class="list-link">
                                <i class="ri-facebook-circle-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h6 class="title footer-title">Categorías</h6>

                    <ul class="list footer-list">
                        <li class="list-item">
                            <a href="#" class="list-link">Ejemplo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>


<!-- Swiper.js Styles -->
<script src="./assets/js/swiper-bundle.min.js"></script>
<!-- Custom script Styles -->
<script src=".\assets\js\main.js"></script>
    </body>
        <script src="{% static 'js/main.js' %}"></script>
</html> 

