{% extends 'base.html' %}
{% block title %}Sobre Nosotros{% endblock title %}
{% block content %}

            <!-- Categorías -->
    <section class="popular-tags section">

        <div class="container">

            <h2 class="title section-title" data-name="Categorías">Categorías</h2>

            <div class="popular-tags-container d-grid">

                <a href="#" class="article">
                    <span class="tag-name">#Inscripción</span>
                    <img src="../static/images/categories/inscripcion.jpg" alt="" class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#Convenios</span>
                    <img src="../static/images/categories/convenios.jpg" alt="" class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#Depostes</span>
                    <img src="../static/images/categories/deportes.jpg" alt="" class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#Actividades</span>
                    <img src="../static/images/categories/actividades.jpg" alt="" class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#Programación</span>
                    <img src="../static/images/categories/programacion.jpg" alt="" class="article-image">
                </a>

                <a href="#" class="article">
                    <span class="tag-name">#Cursos</span>
                    <img src="../static/images/categories/cursos.jpg" alt="" class="article-image">
                </a>

            </div>

        </div>
    </section>


{% endblock content %}
