{% extends 'base.html' %}
{% block title %}Sobre Nosotros{% endblock title %}
{% block content %}

        <!-- Blog company data -->
        <section class="blog-post section-header-offset">

            <div class="blog-post-container container">

                <div class="blog-company-data d-grid">
                    <h2 class="title blog-post-title">Contactate con nosotros!</h2> 
                    {% comment %} <img class="company-data-image" src="../static/images/foto-frente-2.jpg" alt=""> {% endcomment %}
                </div>

                <div class="container">
                        
                    <p>Podés comunicarte con nosotros a través de nuestro <strong>WhatsApp</strong> al <a href="https://api.whatsapp.com/send?phone=5493624250382&amp;text=Hola">+54 9 362 425 0382</a> o haciendo click en el logo:
                        <a href="https://api.whatsapp.com/send?phone=5493624250382&amp;text=Hola" target="_blank">
                            <div class="btn-whatsapp">
                                <img src="../static/images/download.svg">
                            </div>
                        </a>
                    </p>
                        
                    <p>Por <strong>e-mail</strong> a la dirección <strong><a href="mailto:uep161info@educ.ar">uep161info@educ.ar</a></strong></p>
                        
                    <p>Para más información podés acceder a nuestro sitio web <a href="http://www.institutobarranqueras.com">www.institutobarranqueras.com</a></p>    
                    
                    <p>Nuestras redes sociales: <a href="https://www.facebook.com/institutobarranqueras">Facebook</a> e <a href="https://www.instagram.com/institutobarranqueras/">Instagram</a>.</p>
                
                </div>
                
            </div>
        </section>

{% endblock content %}



<!-- Box para whatsapp -->
